* {
	margin: 2px;
	padding: 2px;
}

#calc {
	width: 650px;
	border-style: double;
	background: linear-gradient(#01cdfe, #ff71ce);
}

.gwt-TextBox {
	box-shadow: inset 0 0 2px 2px grey;
}

.gwt-SuggestBox {
	box-shadow: inset 0 0 2px 2px grey;
}